@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: #374fff;
  --color-primary-tint: rgba(55, 79, 255, 0.1);
  --color-navy: #001528;

  --font-sans: var(--font-frutiger);
  --font-heading: var(--font-frutiger);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
